<div id="wrapper">
    <app-header></app-header>
    <div id="page-wrapper">
        <div class="container-fluid">
            <!--   page heading   -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Discuss <small>Answer Section</small>
                    </h1>
                    
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-comments" ></i> QNA/answers
                        </li>
                    </ol>
                    
                </div>
            </div>

            <div class="row">
                <!--  Question  Answer  -->
              
                    <div class="col-md-8 col-sm-8 col-xs-9">
                        <h4>  <label> Question : </label> {{ ques.question }}</h4>
                        <p>( Question posted by <i><mark>{{ ques.userId }}</mark></i>  on {{ ques.timeStamp | date: 'medium' }} )</p>
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <div class="col-lg-6 col-sm-6 col-xs-12">
                                    <h4><label> Answers : </label></h4>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-xs-12 pull-right">
                                    <button class="browse btn btn-warning pull-right" type="submit" (click)="addAnswerButton()" > + Add Answer</button>
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="( answers ) ?.length==0">
                            <p class="text-danger"> Sorry! No Answers available at the moment. </p>
                        </div>  
                        <div>
                            <table>
                                <tr  *ngFor = "let i of answers | paginate: { itemsPerPage: 4, currentPage: p }"  >
                                    <td>
                                        <div class="well active">
                                            <button *ngIf="admin" class="browse btn btn-danger pull-right" type="submit" (click)="deleteAnswer($event, i._id, ques._id)"> <i class="fa fa-trash" ></i> </button>
                                            <h4> {{ i.answer }}  </h4>
                                            
                                            <p> ( Answer provided by <i><mark>{{ i.userId }}</mark></i>  on {{ i.timeStamp | date: 'medium' }} ) </p>
                                            <div class="breadcrumb">
                                                <button class="browse btn btn-secondary" type="submit" (click)="addLike($event, i._id)" >
                                                    <i class="fa fa-thumbs-o-up" ></i> like <br> {{ i.likeCount }}
                                                </button> 
                                                <button class="browse btn btn-secondary" type="submit" (click)="addDislike($event, i._id)" >
                                                    <i class="fa fa-thumbs-o-down" ></i> dislike <br> {{ i.dislikeCount }} 
                                                </button>
                                            </div>
                                        </div>
                                        <div><br></div>
                                    </td>
                                </tr>
                            </table>
                            <div class="text-center">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                        </div>
                        
                </div>

                <div class="col-md-8 col-sm-8 col-xs-9">
                    <!--  Post Answer  -->
                    <form role="form" #data2="ngForm" (ngSubmit)="onPostAnswer()" novalidate>
                        <div class="form-group">
                            <h4><label> Your Answer : </label></h4>
                            <div *ngIf="isNotLogin">
                                <p class="text-danger pull-right"> * Please <a [routerLink]="['/login']"><i class="fa fa-sign-in"></i> Login</a> in order to post Answer.</p>
                            </div>
                            <textarea class="form-control" name="answer" id="answer" [(ngModel)]="ans" placeholder="Post Answer" rows="4" ></textarea>
                            <br>
                            <button class="browse btn btn-warning" type="submit"  > Submit </button>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
